# Map

- map(function, an iterable item)

In [1]:
def greeting(name):
    return f'Hello {name}!'

In [2]:
names = ['Amy', 'Billy', 'Charles', 'David']

In [3]:
for message in map(greeting, names):
    print(message)

Hello Amy!
Hello Billy!
Hello Charles!
Hello David!

In [4]:
# map returns a generator

list(map(greeting, names))

['Hello Amy!', 'Hello Billy!', 'Hello Charles!', 'Hello David!']

In [5]:
# list comprehension

[greeting(name) for name in names]

['Hello Amy!', 'Hello Billy!', 'Hello Charles!', 'Hello David!']

In [6]:
lst = ['1', '2', '3']
list(map(int, lst))

[1, 2, 3]

In [7]:
int('1')

1

In [8]:
def square(num):
    return num ** 2

In [9]:
nums = [1, 2, 3, 4]

for num in map(square, nums):
    print(num)

1
4
9
16

In [10]:
nums = [1, 2, 3, 4]

for num in map(square, nums):
    print(f'I will study {num} hours today.')

I will study 1 hours today.
I will study 4 hours today.
I will study 9 hours today.
I will study 16 hours today.

In [11]:
def print_menu(fruit, tea):
    return fruit + ' ' + tea

In [12]:
fruit = ['peach', 'pineapple', 'lemon']
tea = ['oolong', 'black tea', 'green tea']

In [13]:
my_menu = map(print_menu, fruit, tea)

In [14]:
list(my_menu)

['peach oolong', 'pineapple black tea', 'lemon green tea']

# Filter
- filter(function, an iterable item)
- 需要一个 return True or False的 function，过滤了之后，只会留下 True的

In [15]:
def is_adult(age):
    if age < 18:
        return False
    else:
        return True

In [16]:
student_ages = [16, 20, 22, 17, 17]

In [17]:
adult_students = list(filter(is_adult, student_ages))

In [18]:
adult_students

[20, 22]

In [19]:
[age for age in student_ages if age >= 18]

[20, 22]

# Lambda

In [20]:
def add_5(num):
    return num + 5

In [21]:
lst = [1, 2, 3, 4, 5]

In [22]:
list(map(add_5, lst))

[6, 7, 8, 9, 10]

In [23]:
lst = [1, 2, 3, 4, 5]
list(map(lambda x: x + 7, lst))

[8, 9, 10, 11, 12]

In [24]:
add_7 = lambda x: x + 7

In [25]:
add_7(10)

17

In [26]:
def is_adult(age):
    if age < 18:
        return False
    else:
        return True
    
student_ages = [16, 20, 22, 17, 17]

adult_students = list(filter(is_adult, student_ages))

adult_students

[20, 22]

In [27]:
student_ages = [16, 20, 22, 17, 17]

list(filter(lambda age: age >= 18, student_ages))

[20, 22]