# List

- 有序列表
- mutable

In [1]:
my_list = [1, 2, 3]

In [2]:
print(my_list)

[1, 2, 3]

In [3]:
my_str = 'apple'

In [4]:
my_list = [my_str, 25, 'pear', 0.75]

In [5]:
my_list[2]

'pear'

In [6]:
my_list[2] = 'banana'

In [7]:
print(my_list)

['apple', 25, 'banana', 0.75]

In [8]:
my_list[2] = 26

In [9]:
my_list

['apple', 25, 26, 0.75]

In [10]:
len(my_list)

4

# Indexing and Slicing

In [11]:
lst = [1, 2, 3, 4, 5, 6]

In [12]:
lst[0]

1

In [13]:
lst[2:]

[3, 4, 5, 6]

In [14]:
lst[:4]

[1, 2, 3, 4]

In [15]:
lst[2:4]

[3, 4]

In [16]:
lst[::-1]

[6, 5, 4, 3, 2, 1]

# List Methods

In [17]:
lst = [1, 2, 3]

In [18]:
lst + ['new element']
# create a new copy of lst

[1, 2, 3, 'new element']

In [19]:
lst

[1, 2, 3]

In [20]:
my_lst = lst + ['new element']

In [21]:
my_lst

[1, 2, 3, 'new element']

In [22]:
lst[0] = 7

In [23]:
lst

[7, 2, 3]

In [24]:
my_lst

[1, 2, 3, 'new element']

## Append

In [25]:
lst = [1, 2, 3, 4, 5, 6]

In [26]:
lst.append(7)

In [27]:
lst

[1, 2, 3, 4, 5, 6, 7]

## Extend

In [28]:
lst.extend([7, 8])

In [29]:
lst

[1, 2, 3, 4, 5, 6, 7, 7, 8]

## Insert

In [30]:
lst = [1, 2, 3]

In [31]:
# insert(position, element)
lst.insert(1, 'new element')

In [32]:
lst

[1, 'new element', 2, 3]

In [33]:
lst = [0] * 7

In [34]:
lst

[0, 0, 0, 0, 0, 0, 0]

## Count

In [35]:
lst = [0] * 3 + [1] * 5

In [36]:
lst

[0, 0, 0, 1, 1, 1, 1, 1]

In [37]:
lst.count(1)

5

## Pop

In [38]:
new_lst = [1, 2, 3, 4, 5]

In [39]:
new_lst.pop()

5

In [40]:
new_lst

[1, 2, 3, 4]

In [41]:
new_lst.pop(0)

1

In [42]:
new_lst

[2, 3, 4]

## Sort

In [43]:
lst = [10, 6, 4, 7, 9]

In [44]:
lst.sort()

In [45]:
lst

[4, 6, 7, 9, 10]

In [46]:
lst = ['c', 'b', 'acb', 'abc']

In [47]:
lst.sort()

In [48]:
lst

['abc', 'acb', 'b', 'c']

In [49]:
lst = [5, 3, 1, 'b', 'a']

In [50]:
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
lst = [3, 1, 5, 4]

In [51]:
sorted_lst = sorted(lst)

TypeError: '<' not supported between instances of 'str' and 'int'

In [52]:
lst

[5, 3, 1, 'b', 'a']

In [53]:
sorted_lst

NameError: name 'sorted_lst' is not defined

## Reverse

In [54]:
lst = [1, 2, 3]

In [55]:
lst.reverse()

In [56]:
lst

[3, 2, 1]

In [57]:
lst = [4, 5, 6]

In [58]:
reversed(lst)

In [59]:
lst

[4, 5, 6]

In [60]:
list(reversed(lst))

[6, 5, 4]

In [61]:
lst[::-1]

[6, 5, 4]

In [62]:
lst = [1, 2, 3]

In [63]:
lst[::-1]

[3, 2, 1]

In [64]:
lst = [[1, 3, 5], 7, 'apple', 'banana']

In [65]:
lst[0]

[1, 3, 5]

In [66]:
lst.reverse()

In [67]:
lst

['banana', 'apple', 7, [1, 3, 5]]

## Index

In [68]:
lst.index('apple')

1

## Nested Lists

In [69]:
lst = [[1, 3, 5], 7, 'apple', 'banana']

In [70]:
lst[0][2]

5

## Mutable vs. Immutable

In [71]:
my_str = 'abcde'
my_lst = ['a', 'b', 'c', 'd', 'e']

In [72]:
my_str[0] = 'f'

TypeError: 'str' object does not support item assignment

In [73]:
my_lst[0] = 'f'

In [74]:
my_lst

['f', 'b', 'c', 'd', 'e']

# Tuple

In [75]:
t = (1, 'apple', [1, 2, 3])

In [76]:
len(t)

3

In [77]:
t[0]

1

In [78]:
t[1:]

('apple', [1, 2, 3])

In [79]:
t[::-1]

([1, 2, 3], 'apple', 1)

In [80]:
# method

In [81]:
t = ('a', 'b', 'b', 'c')

In [82]:
t.index('c')

3

In [83]:
t.count('b')

2

In [84]:
t.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [85]:
t + ('d',)

('a', 'b', 'b', 'c', 'd')

In [86]:
(2 + 3) * 4

20

In [87]:
t

('a', 'b', 'b', 'c')

In [88]:
new_t = t + ('d',)

In [89]:
new_t

('a', 'b', 'b', 'c', 'd')

In [90]:
t = (1, 2, [3, 3, 3])

In [109]:
t[2] = [5, 5, 5]

TypeError: 'tuple' object does not support item assignment

In [110]:
t[2][0] = 5

TypeError: 'int' object does not support item assignment

In [111]:
t

(1, 2, 3)

In [112]:
lst =[1, 2, 3]

In [113]:
# list()

In [118]:
t = (1, 2, 3)

In [119]:
my_lst = list(t)

TypeError: 'list' object is not callable

In [120]:
my_lst

[1, 2, 3]