# Variable Types

- integer (int)
- float
- string (str)
- list
- tuple
- dictionary (dict)
- set
- boolean (bool)

In [2]:
# type()

In [3]:
type(123)

int

In [4]:
type(2.5)

float

In [5]:
type('hello')

str

# Arithmetic

In [6]:
# Addition
1 + 2

3

In [7]:
# Subtraction
5 - 2

3

In [8]:
# Multiplication
2 * 5

10

In [9]:
# Division
5 / 2

2.5

In [10]:
# Floor Division
5 // 2

2

In [14]:
print(10 // 3)
type(10 // 3)

3

int

In [16]:
print(7.1 // 2)
type(7.1 // 2)

3.0

float

In [17]:
# Modulo/Mod
5 % 2

1

In [18]:
10 % 4

2

In [19]:
# Powers/Exponents
2 ** 2

4

In [20]:
2 ** 3

8

In [21]:
# Roots
4 ** 0.5

2.0

In [22]:
# Order of Operations
5 + 3 ** 2 - 2 * 3

8

In [23]:
(2 + 3)**2

25

# Variable Assignments

In [24]:
a = 2
b = 3

In [25]:
a * b

6

In [26]:
a = 5

In [27]:
a * b

15

In [28]:
# Multiple Assignments
a, b = 4, 6

In [29]:
a * b

24

In [1]:
a = 1
b = 2

In [2]:
temp = a
a = b 
b = temp

In [3]:
a

2

In [4]:
b

1

In [5]:
a, b = b, a

In [6]:
a

1

In [7]:
b

2

In [ ]:
# +=

In [8]:
x = 1

In [9]:
x = x + 1

In [10]:
x

2

In [15]:
x += 1

In [16]:
x

5

In [19]:
x -= 1

In [20]:
x

3

In [23]:
x *= 2

In [24]:
x

12

In [25]:
x /= 2

In [26]:
x

6.0

## Rules of Variable Assignments
1. start with letter 
2. no space, use _
3. no '",<>/?|\()!@#$%^&*~-+
4. lowercase
5. 不可以用python reserved keywords, no 'list' 'str' 'for' 'while'

In [27]:
price_apple = 2
number_apple = 5

In [28]:
total_price = price_apple * number_apple

In [29]:
total_price

10

# String

In [30]:
'hello'
'hello world'
"hello world"

'hello world'

In [31]:
# string 也可以包含数字,中文
'2'
'500 900'
'你好世界！！'

'你好世界！！'

In [32]:
'I'm Han Meimei'

SyntaxError: invalid syntax (<ipython-input-32-a9f44ed2d2ab>, line 1)

In [33]:
"I'm Han Meimei"

"I'm Han Meimei"

In [34]:
'I\'m Han Meimei'

"I'm Han Meimei"

In [35]:
'''I"m Han Meimei'''

'I"m Han Meimei'

In [40]:
print('hello world')
print('hello world second time')
print('\n')
print('hello')

hello world
hello world second time


hello

In [41]:
print('hello\nworld')

hello
world

'''xxx'''
"""xxxx"""

In [42]:
print('''
hello 
world
''')

hello
world

In [43]:
print('
      hello
      world
      ')

SyntaxError: EOL while scanning string literal (<ipython-input-43-dab2f11a443a>, line 1)

In [44]:
print('hello')

hello

In [46]:
print('\thello')

	hello

In [ ]:
# length of a string

In [47]:
s = 'hello world'

In [49]:
len('hello world')

11

# String Indexing and Slicing

In [50]:
s = 'hello world'

In [51]:
# 这里只是方便我们理解，具体操作我们之后讲
list(enumerate(s))

[(0, 'h'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

In [53]:
s[6]

'w'

In [54]:
s[0:5]

'hello'

In [ ]:
# [start:stop:step]

In [55]:
s = 'hello world'

In [56]:
s[1:]

'ello world'

In [57]:
s[:10]

'hello worl'

In [58]:
s[:]

'hello world'

In [59]:
s[-1]

'd'

In [60]:
s[-2]

'l'

In [61]:
s[::2]

'hlowrd'

In [62]:
s[::-1]

'dlrow olleh'

# String is immutable

In [63]:
s = 'hello world'

In [64]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

## Concatenate strings

In [71]:
s = 'Apple'

In [72]:
s = s + 'Care'

In [73]:
s

'AppleCare'

In [74]:
s = 'hello '

In [75]:
s * 3

'hello hello hello '

In [76]:
s

'hello '

In [77]:
new_string = s * 3

In [78]:
new_string

'hello hello hello '

# String Methods

In [79]:
s = 'hello world'

In [80]:
s.upper()

'HELLO WORLD'

In [85]:
s.lower()

'hello world'

In [86]:
s.split()

['hello', 'world']

In [87]:
s = "hello,hello,I'm here,hello hello"

In [88]:
s.split(',')

['hello', 'hello', "I'm here", 'hello hello']

# String Formatting

1. use %s to inject strings
2. .format()
3. f-string

### %s

In [89]:
print('I will order %s for dinner.' %'fries')

I will order fries for dinner.

In [90]:
print('I will order %s and %s for dinner.' %('fries','hamburger'))

I will order fries and hamburger for dinner.

In [94]:
a = 'salad'
b = 'hamburger'

In [95]:
print('I will order %s and %s for dinner.' %(a, b))

I will order salad and hamburger for dinner.

In [99]:
print('My name is %s' %'Mianmian')

My name is Mianmian

In [100]:
print('My name is %r' %'Mianmian')

My name is 'Mianmian'

In [101]:
print('My name is %s' %'\nMianmian')
print('My name is %r' %'\nMianmian')

My name is
Mianmian
My name is '\nMianmian'

In [102]:
print('The price is %s' %5.5)

The price is 5.5

In [103]:
print('The price is %d' %5.5)

The price is 5

## Format - floating point numbers

- %3.2f
- 3 --> minmum number of characters the string should contain
- .2f --> how many numbers to show past the decimal point

In [105]:
print('The number is %.2f' %55.7988665)

The number is 55.80

In [106]:
print('The number is:%7.2f' %55.7988665)

The number is:  55.80

In [108]:
print('The number is %7.2f' %55.7988665)
print('The number is %7.2f' %5.2)
print('The number is %7.2f' %1444.89)

The number is   55.80
The number is    5.20
The number is 1444.89

In [109]:
print('My name is %s, and I will donate %.2f.' %('Mianmian', 500.777))

My name is Mianmian, and I will donate 500.78.

## .format()

In [110]:
print('I have a {} and a {}.'.format('apple', 'pen'))

I have a apple and a pen.

In [112]:
print('I have a {}, an {}, and a {}.'.format('pineapple', 'apple', 'pen'))

I have a pineapple, an apple, and a pen.

In [114]:
print('I have an {1}, a {2}, and a {0}.'.format('pineapple', 'apple', 'pen'))

I have an apple, a pen, and a pineapple.

In [115]:
print('I have a {fruit} and a {stationery}.'.format(fruit = 'pear', stationery = 'pencil'))

I have a pear and a pencil.

In [116]:
print('Amy has {x}, Bob has {x}, and I have {x}.' .format(x = 'friends'))

Amy has friends, Bob has friends, and I have friends.

## f-string

In [119]:
fruit = 'apples'

In [120]:
print(f'I will buy some {fruit}.')

I will buy some apples.

In [121]:
print(f'I will buy some {fruit!r}.')

I will buy some 'apples'.